/* General Styles */
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    /* width: 25%; */
    width: 52%;
    height: 86%;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    gap: 10px;
}

/* END General Styles */

/* Chat Messages */
main {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

    /* overflow: hidden; */
    overflow-y: auto;

    min-width: 0px;
    min-height: 0px;

    padding: 12px;
}

main #messages {
    width: 100%;
    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 25px;
}

main::-webkit-scrollbar {
  width: 0.5em;
}

main::-webkit-scrollbar-track {
  box-shadow: lightgrey;
}
 
main::-webkit-scrollbar-thumb {
  background-color: black;
  /* outline: 1px solid slategrey; */
  border-radius: 1rem;
}

main .message {
    width: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    flex-direction: column;
}

main .message.other {
    justify-content: center;
    align-items: start;
}

main .message .message-inner {
    background-color: aquamarine;
    max-width: 70%;
    padding: 8px;
    border-radius: 8px;
}

/* END Chat Messages */

/* Message Sending */
footer {
    display: grid;

    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr;

    background-color: whitesmoke;
    height: 52px;
}

footer textarea {
    width: 100%;
    height: 100%;

    border: none;

    background-color: whitesmoke;

    padding: 0.52rem;

    resize: none;
    outline: none;
}

footer .btn {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: black;

    cursor: pointer;
}

/* END Message Sending */